{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 280,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true
}
