{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 160,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "tabWidth": 2
}
